*{
    font-family: Arial, Helvetica, sans-serif;
}
#ejemplo{
    display: flex;
    flex-direction: row-reverse ;
}
#ejemplo div{
    text-align: center;
    height: 7vh;
    width: 10%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    padding-top: 5vh;
}

.d1{
    background-color: #82DAFE;
}
.d2{
    background-color: #06A0DC;
}
.d3{
    background-color: #0A82BE;
}
.d4{
    background-color: #056DA4;
}
.d5{
    background-color: #00557A;
}
.d6{
    background-color: #053D4E;
}
.d7{
    background-color: #051E54;
}
