
*{
    font-family: Arial, Helvetica, sans-serif;
}
#primary_nav_wrap{
	margin-top:15px;
    margin-right: 50%;
    max-width: 100%;
}

#primary_nav_wrap ul{
	list-style:none;
	position:relative;
	float:right;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a{
	display:block;
	color:#000000;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
}

#primary_nav_wrap ul li{
	position:relative;
	float:right;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item{
	background:#9b9b9b
}

#primary_nav_wrap ul li:hover{
	background:rgb(105, 160, 160)
}

#primary_nav_wrap ul ul{
	display:none; /*La ocultamos*/
	position:absolute;
	top:100%;
	left:0;
	background:rgb(125, 180, 180);
	padding:0
}

#primary_nav_wrap ul ul li{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul{
	display:block; /*La mostramos*/
}