*{
    border: 1px solid red;
    box-sizing: border-box;
}

.cont{
    border: 1px solid blue;
    display: flex;
    flex-flow: row wrap;
}
.col1, .col2, .col3{
    width: 100%;
}

@media (min-width:600px){
    .col2,.col3{
        width: 50%;
        
    }
    div{
        order: 3;
    }
    .cont section:nth-child(1){
        order: 2;
    }
    .cont section:nth-child(2){
        order: 1;
    }
    .cont section:nth-child(1),.cont section:nth-child(2){
        width: 50%;
    }

}

@media (min-width:800px){
    .cont{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .cont section:nth-child(2), .cont section:nth-child(3){
        width: 25%;
    }
}