*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: red;
    height: 18vh;
    width: 100vh;
}
#lat_iz{
    float: left;
    background-color: yellow;
    width: 20vh;
    height: 30vh;
}
#centro{
    float:inline-start;
    background-color: gray;
    width: 60vh;
    height: 30vh;
}
#lat_der{
    float:inline-start;
    background-color: yellowgreen;
    height: 30vh;
    width: 20vh;
}
footer{
    background-color: cadetblue;
    height: 18vh;
    float:inline-start;
    top: 48vh;
    width: 100vh;
}